body {
    font-family: "Noto Sans", sans-serif;
    background: #E5E5E5;
}

#top-logo {
    margin-left: 15px;
}

#top-logo:hover {
    color: #c62828;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(228, 92, 92, 0.26);
}

table.highlight > tbody > tr:hover {
    background-color: #bbdefb;
}